._card {
    height: 300px;
    width: 300px;
    margin: 10px;
    background: darkgrey;
    outline: 1px solid black;
    outline-offset: -10px;
    cursor: pointer;
}
._card .card_item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
._card .card_item h1 {
    text-shadow: 2px 2px 5px black;
    color: black;
}
