.itemcard {
    height: 150px;
    width: max-content;
    background: rgb(122, 255, 255);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0 10px;
}
.itemcard .email, .itemcard .phone{
    text-decoration: none;
    color: black;
}
.itemcard .phone{
    padding-bottom: 5px;
}
.itemcard p span{
    cursor: pointer;
}
.itemcard p span:first-child {
    color: red;
}